<ul>Add to which map:

  <form>
    <% maps.forEach(function (map) { %>
      <li><label><%=map.escape("title")%> |
        <input type="radio" name="map_id"
          value="<%=map.escape("id")%>"></label></li>
    <% }); %>
    <br>

    <input type="submit" class="add" value="Submit">
  </form>
</ul>

<a href="#/">Back</a>
