<ul class="add">
  <h1>Add to which map:</h1>

  <form>
    <% maps.forEach(function (map) { %>
      <li><label>
        <input type="radio" name="map_id"
          value="<%=map.escape("id")%>">
          <%=map.escape("title")%></label></li>
    <% }); %>
    <br>

  </form>
</ul>

<a href="#/">Back</a>
