<h2><%= restaurant.escape("name") %></h2>
<p>
  <a href="<%= restaurant.escape("source_url") %>">Source</a><br>
  Address: <%= restaurant.escape("address") %><br>
  Notes: <%= restaurant.escape("note") %><br>
</p>

<a href="#/">Back</a>
