<h2><%= restaurant.escape("name") %></h2>
<p>
  Source: <a href="<%= restaurant.escape("source_url") %>"><br>
  Address: <%= restaurant.escape("address") %><br>
  Notes: <%= restaurant.esca[e]("note") %><br>
</p>

<a href="#/">Back</a>
