<ul>Restaurants to Try:
  <% _(unfinished).each(function (restaurant) { %>
    <li class="restaurant" data-id="<%=restaurant.escape("id") %>">
      <a class="list" href="#/">
        <%= restaurant.escape("name") %>
      </a>
    </li>
  <% }); %>
</ul>

<br>

<ul>Visited Restaurants:
  <% _(finished).each(function (restaurant) { %>
    <li class="restaurant" data-id="<%=restaurant.escape("id") %>">
      <a class="list" href="#/">
        <%= restaurant.escape("name") %>
      </a>
    </li>
  <% }); %>
</ul>

<br>
<a href="#/restaurants/new">New Restaurant</a>