<ul>
  <% restaurants.each(function (restaurant) { %>
    <li class="restaurant">
      <a href="#/restaurant/<%=restaurant.escape("id") %>">
        <%= restaurant.escape("name") %>
      </a>
    </li>
  <% }); %>
</ul>

<a href="#/restaurants/new">New Restaurant</a>