
<form class="new-restaurant">
<h1>New Restaurant</h1><a href="#/">Back</a><br>
  <label>Name
    <input name="restaurant[name]">
  </label><br>

  <label>URL
    <input name="restaurant[source_url]">
  </label><br>

  <label>Address
    <input name="restaurant[address]">
  </label><br>

  <label class="select">Type
    <select name="restaurant[place_type]">
      <option value="bakery">Bakery</option>
      <option value="bar">Bar</option>
      <option value="alcohol-shop">Brewery</option>
      <option value="cafe">Cafe</option>
      <option value="fast-food">Fast Food</option>
      <option value="grocery">Grocery</option>
      <option value="restaurant" selected>Restaurant</option>
      <option value="slaughterhouse">Steakhouse</option>
    </select>
  </label><br>

  <label>Note
    <textarea name="restaurant[note]"
              id="restaurant_note"
              rows=4 cols=33></textarea>
  </label><br>

  <input type="hidden" name="restaurant[map_id]" value="<%= BellyGuide.MapID%>">

  <input type="submit" value="Submit"><br>


</form>

