<h1>New Restaurant</h1>
<form>
  <label>Name
    <input name="restaurant[name]">
  </label><br>

  <label>Source
    <input name="restaurant[source_url]">
  </label><br>

  <label>Address
    <input name="restaurant[address]">
  </label><br>

  <label>Note
    <textarea name="restaurant[note]"
              id="restaurant_note"
              rows=5 cols=20></textarea>
  </label><br>

  <input type="hidden" name="restaurant[map_id]" value="<%= BellyGuide.MapID%>">

  <input type="submit" value="Submit">
</form>


<a href="#/">Back</a>
