<form class="hide guest" action="<%= session_url %>" method="post">
  <input
     name="authenticity_token"
     type="hidden"
     value="<%= form_authenticity_token %>">

  <label for="user_username">Username</label>
  <input
     id="user_username"
     name="user[username]"
     type="text"
     value="Guest">
  <br>

  <label for="user_password">Password</label>
  <input
     id="user_password"
     name="user[password]"
     type="text"
     value="guest_password">
  <br>

  <input id="guest_submit" type="submit" value="Log in">
</form>