<section class="landing">

  <div class="banner">
    <h1>BELLY GUIDE</h1>
    <p>Belly Guide is a to-do website focused on the restaurants you love and those you're
      looking forward to. Create maps of restaurants you want to try, and check them off as you visit.
      Let your belly be your guide and get started today!</p>
  </div>

  <%= image_tag("example_map.png") %>

  <hr>

  <nav class="signin">
    <ul class="group">
      <li class="sign-up">Sign Up</li>
      <li class="sign-in">Sign In</li>
      <li class="guest">Enter as Guest</li>
    </ul>
  </nav>

  <div class="forms">
    <%= render 'signup' %>
    <%= render 'signin' %>
    <%= render 'guest' %>
  </div>

</section>

<script type="application/javascript">
  $(document).ready(function () {
    $("li").on("click", function(event, data){
      var klass = $(event.currentTarget).attr('class')
      $('form').not('.hide').toggleClass('hide')
      $('form.'+klass).toggleClass('hide')
    })
  })
</script>

