<section class="landing">
  <div class="banner">
    <h1>BELLY GUIDE</h1>
    <p>Belly Guide is a to do website focused on the restaurants you love and those you're
      looking forward to. Create maps of restaurants you want to try, and check them off as you visit.
      Let your belly be your guide and get started today!</p>
  </div>
  <%= image_tag("example_map.png") %>

<hr>

<nav class="signin">
  <ul class="group">
    <li class="sign-up">Sign Up</li>
    <li class="sign-in">Sign In</li>
    <li class="guest">Enter as Guest</li>
  </ul>
</nav>

<div class="forms">
  <form class="hide sign-in" action="<%= session_url %>" method="post">
    <input
       name="authenticity_token"
       type="hidden"
       value="<%= form_authenticity_token %>">

    <label for="user_username">Username</label>
    <input
       id="user_username"
       name="user[username]"
       type="text">
    <br>

    <label for="user_password">Password</label>
    <input
       id="user_password"
       name="user[password]"
       type="password">
    <br>

    <input type="submit" value="Log in">
  </form>
  <form class="hide sign-up">
    Hello!
  </form>

</div>

</section>

<script type="application/javascript">
  $(document).ready(function () {
    $("li").on("click", function(event, data){
      var klass = $(event.currentTarget).attr('class')
      var $form = $('form.'+klass).toggleClass('hide')
    })
  })
</script>

