<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Belly Guide, <%= @user.username %>!</h1>
    <p>
      You have successfully signed up to Belly Guide.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining - you've got a lot of eating to do!</p>
  </body>
</html>