
<script type="application/json" id="bootstrapped_restaurants_json">
  <%= @restaurants.to_json.html_safe %>
</script>

<h1><%= @map.title %></h1>
<p><%= @map.description %></p>


<script type="application/javascript">
  $(function () {
    var restaurants = JSON.parse($("#bootstrapped_restaurants_json").html());

    window.BellyGuide.initialize($("body"), restaurants);
  });
</script>
