<section class="nearby">

  <form
    id="nearby-form"
    action="<%= nearby_restaurants_url %>"
    method="post"
    data-remote="true">

    Enter your location
    <label><input type="text" name="address"></label>
    <label>Mile radius?
      <input type="text" name="distance"></label>
    <input type="submit" value="Find Near Me!">
    <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
  </form>
</section>

<section class="nearby-list">
  <%= render restaurants %>
</section>
