<p>
  <form class="nearby-form hide"
    id="nearby-form"
    action="<%= nearby_restaurants_url %>"
    method="post"
    data-remote="true">

    <label>Enter your location:
      <input type="text" name="address"></label>
    <label>Mile radius?
      <input type="text" name="distance"></label>
    <label><input type="submit" value="Find Near Me!"></label>
    <input type="hidden" name="authenticity_token"
          value="<%= form_authenticity_token %>">
  </form>
</p>

<section class="nearby-list">
  <%= render restaurants %>
</section>
