<%= render "maps/map", restaurants: current_user.restaurants,
 lat: current_user.restaurants.average('latitude'),
 long: current_user.restaurants.average('longitude'), zoom:13 %>

<section class="global-map">
  <div id="map-canvas"></div>
</section>
<br>

<p>Find Near Me:
  <%= render "nearby", restaurants: @restaurants %>
</p>
<script type="application/javascript">
  $(document).ready(function () {
    $("#nearby-form").on("ajax:success", function(event, data){
      $(".nearby-list").html(data);
      $("#nearby-form input[type=text]").val("");
    })
  })
</script>