<head class="map">

<%= render "maps/map_head" %>

</head>

<section class="global-map">
 <div id='map-canvas'></div>
</section>

  <%= render "maps/map", restaurants: @user.restaurants %>

<br>

<section class="explore user">
  <h1>Your Maps</h1>
  <%= render "maps/list", maps: current_user.maps %>
</section>
<br>

<section class="nearby">
  <a href="#">Find Near Me</a>
    <%= render "nearby", restaurants: @restaurants %>
</section>

<script type="application/javascript">
  $(document).ready(function () {
    $("#nearby-form").on("ajax:success", function(event, data){
      $(".nearby-list").html(data);
      $("#nearby-form input[type=text]").val("");
    })

    $(".nearby").children().filter('a').on("click", function(event){
      $(event.currentTarget).siblings().filter('form').toggleClass("hide");
    });
  })
</script>