<h1>Hello <%= current_user.username %>!</h1>

   <%= render "maps/map", restaurants: current_user.restaurants,
     restaurant: current_user.restaurants.first, zoom:13 %>

<div id="map-canvas"></div>

<p>Your maps:
  <ul>
    <% current_user.maps.each do |map| %>
      <li><%= link_to map.title, map_url(map) %></li>
    <% end %>
  </ul>
<p>

<%= link_to "Create a map", new_map_url %>