/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

.header-wrap, .header-logo, .header-nav, .group, .header-logo > a,
 .group > li > a, .sign-in {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}

.group {
  list-style: none;
}

.group:after{
  content: "";
  display: table;
  clear: both;
}

.header {
  border-bottom: 1px dashed #333;
}

.header-wrap {
  width: 900px;
  margin: auto;
}

.header a {
  color: #348412;
}

.header-logo {
  float: left;
}

.header-logo > a {
  display: block;
  padding: 10px 20px;
  color: #348412;
  font-weight: bold;
}

.header-logo > a:hover {
  background: #333;
}

.header-nav{
  float:right;
}

.header-nav > ul {
}

.header-nav > ul > li {
  position: relative;
  float:left;
  border-left: 3px solid #333;
}

.header-nav > ul > li {
  display: block;
  padding: 10px 20px;
}

.header-nav > ul > li:hover{
  background: #333;
}

.sign-in {
  background: transparent;
  cursor: pointer;
}

.page {
  background: #F9F9F9;
  width: auto;
  padding: 10px;
}