.flash-notice {
  background-color: #64639B;
  height: 34px;
  opacity: .8;
  display: none;
}

.flash-notice > p {
  color: #fff;
  font-size: 24px;
  text-align: center;
  margin: auto;
  padding: 5px;
}
