.header-wrap, .header-logo, .header-nav, .group, .header-logo > a,
 .group > li > a, .sign-in, h1, h2, p {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  font-family: "Palatino Linotype",Palatino,Georgia,serif;
  vertical-align: baseline;
  text-decoration: none;
  color: black;
}

.group {
  list-style: none;
}

.group:after{
  content: "";
  display: table;
  clear: both;
}

.header {
  padding-top: 5px;
  background-color: #F9F9F9;
}

.header-wrap {
  width: 95%;
  margin: auto;
  border-bottom: 4px double #99B3C3;
}

.header a {
  color: #348412;
}

.header-logo {
  float: left;
  display: block;
  width: 95%;
}

.header-logo > a {
  display: block;
  padding: 5px 3px 3px 0px;
  color: #64757F;
  font-size: 20px;
  text-transform: uppercase;
  letter-spacing: 3px;
}

.header-logo > a > span {
  font-size: 26px;
}

.header-nav {
  float:left;
  font-size: 14px;
}

.header-nav > ul > li {
  position: relative;
  float:left;
  border-left: 1px solid #333;
  display: block;
  padding: 0px 5px;
  margin: 3px 0px;
}

.drop-down {
  display: none;
}

li:hover > .drop-down{
  display: block;
}

.header-nav > ul > li:hover {
  font-weight: bold;
}

.header-nav > ul > li:first-child {
  border-left: 0px;
}

.header-nav > ul > li:first-child > a:hover {
  font-weight: normal;
}

.sign-in {
  background: transparent;
  cursor: pointer;
}

.sign-in:hover {
  font-weight: bold;
}

.page {
  width: auto;
  padding: 10px;
  background-color: #F9F9F9;
}