// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas{
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888;
}

.global-map > #map-canvas {
  height: 400px;
}

.show-map > #map-canvas {
  height: 400px;
}

.hide {
  display: none;
}

.owner {
  font-style: italic;
}

.map-header > h1{
  font-size: 120%;
}

.map-header > p {
  margin: 5px;
  font-size: 14px;
}

.nearby > h2 {
  font-size: 16px;
}

#nearby-form {
  font-size: 14px;
}

.explore > h1 {
  font-size: 22px;
}

.explore > ul {
  margin: 10px 0;
  padding: 0 10px;
  border-left: 1px solid #ccc;
}

.explore > ul > li > p {
  font-size: 16px;
  font-style: normal;
  padding: 2px 10px;
}

.explore > ul > li {
  padding: 2px;
}

.user > ul > .owner {
  font-style: normal;
}

.nearby > a {
  font-size: 18px;
}

.global-map {
  position: relative;
}

.show-map {
  position: relative;
}

#map-ui {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 100;
}

#show-map-ui {
  position: absolute;
  top: 2%;
  right: 1%;
  z-index: 100;
}

#map-ui ul, #show-map-ui ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#map-ui a, #show-map-ui a {
    font-size: 13px;
    background: #FFF;
    color: #3C4E5A;
    display: block;
    margin: 0;
    padding: 0;
    border: 1px solid #BBB;
    border-bottom-width: 0;
    min-width: 138px;
    padding: 10px;
    text-decoration: none;
}

#map-ui li:first-child, #show-map-ui li:first-child {
  display: block;
}

#expand > li >  a:hover {
    background: #ECF5FA;
}

#map-ui li:last-child a {
    border-bottom-width: 1px;
    -webkit-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
}

#compress li:first-child a{
      -webkit-border-radius: 3px 3px 0 0;
      border-radius: 3px 3px 0 0;
}

#map-ui a.active, #compress > li > a, #show-map-ui a.active {
    background: #3887BE;
    border-color: #3887BE;
    color: #FFF;
}

#map-ui a.active:hover, #show-map-ui a.active:hover{
  background: #3887BE;
  border-color: #3887BE;
  color: #FFF;
}

#compress > li {
  margin-bottom: 0px;
}