// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.map, #map-canvas {
  margin: 0;
  padding: 10px;
  height: 250px;
  width: 98%;
}

#map-canvas {
  border: 2px solid black;
}

.hide {
  display: none;
}