// Place all the styles related to the maps controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#map-canvas{
  border: 2px solid black;
  box-shadow: 5px 5px 5px #888;
}

.global-map > #map-canvas {
  height: 400px;
}

.show-map > #map-canvas {
  height: 250px;
}

.hide {
  display: none;
}

.owner {
  font-style: italic;
}

.map-header > h1{
  font-size: 120%;
}

.map-header > p {
  margin: 5px;
  font-size: 14px;
}

.nearby > h2 {
  font-size: 16px;
}

#nearby-form {
  font-size: 14px;
}
