.title > h1 {
  font-size: 24px;
  display: inline;
  padding-right: 5px;
}

.title > a {
  font-size: 16px;
  padding: 4px 4px;
  border-left: 1px solid #999;
}

.new_map, .edit_map {
  font-size: 18px;
  margin: 10px 0px;
  width: 60%;
  float: left;
  position:relative;
  line-height: 26px;
  color: #5F84CB;
  text-decoration: none;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.map-fields {
  padding-bottom: 10px;
}

.map-fields > label {
  font-size: 20px;
  display: block;
  padding-top: 5px;
}

.map-fields > input, .fields > input {
  width:460px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  font-size: 18px;
  margin-left: 8px;
  margin-top: 0px;
  padding-top: 0px;
}

.map-fields > textarea, .fields > textarea {
  display: block;
  font-size: 18px;
  margin-left: 8px;
  margin-top: 0px;
  padding-top: 0px;
}

.map-fields > input:focus, .map-fields > textarea:focus,
  .fields > input:focus, .fields > textarea:focus  {
  outline: none;
  border: 2px solid #5F84CB;
}

.fields > a, .new_map > a {
  color: #64757F;
}

.fields {
  border-top: 1px solid #888;
  padding: 5px 0;
}

.new_map > input[type=submit], .edit_map > input[type=submit] {
  width:100px;
  position:absolute;
  right:20px;
  bottom:20px;
  background:#5F84CB;
  color:#fff;
  height:30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1p solid #999;
  font-size: 14px;
}

.new_map > input[type=submit]:hover, .edit_map > input[type=submit]:hover {
  background: #fff;
  color: #5F84CB;
};

.new-restaurant > label > input:focus, .new-restaurant > label > textarea:focus {
  outline: none;
  border: 2px solid #5F84CB;
}