// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurant-list {
  margin: auto;
  padding-top: 10px;
}

.restaurant-list > div > ul {
  list-style: none;
}

.todo {
  margin: 0;
  padding: 10px;
  float: left;
  position: relative;
  width: 47%;
}

.todo > h1 {
  padding-bottom: 5px;
  font-size: 18px;
}

.todo:first-child{
  border-right: 1px solid #CCC;
}

.restaurant-list > div > a {
  content: "";
  display: table;
  clear: both;
}

.checkbox {
  padding: 0;
  margin: 0;
  border: 0;
  display: inline-block;
  width: 20px;
  height: 20px;
}

.owner {
  cursor: pointer;
}

.unfinished {
  background: #f9f9f9 image-url('unchecked.png');
}

.finished {
  background: image-url('checked.png');
}

.restaurant {
  position: relative;
}
.list {
  position: absolute;
  top: 3px;
  padding-left: 5px;
}

.detail-view {
  list-style: none;
  padding: 0 5px;
  margin: 0 20px;
  border-left: 1px solid #64757F;
}

.detail-view > li > h2 {
  font-weight: bold;
  font-size: 16px;
  margin-top: 8px;
}

.detail-view > li:last-child {
  margin-bottom: 8px;
}

.detail-view > li {
  font-size: 14px;
}
