// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.restaurant-list {
  width: 97%;
  margin: auto;
}

.restaurant-list > div > ul {
  list-style: none;
}

.todo {
  margin: 0;
  padding: 10px;
  float: left;
  position: relative;
  width: 47%;
}

.todo:first-child{
  border-right: 1px solid #CCC;
}


.restaurant-list > div > a {
  content: "";
  display: table;
  clear: both;
}