// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.landing{
  position: relative;
  padding: 0px;
  margin: auto;
  width: 1000px;
}

.landing > img{
  margin: auto;
  width: 100%;
  z-index: 2;
}

.banner {
  width: 106%;
  margin: auto;
  background-color: #5F84CB;
  position: absolute;
  top: 34%;
  left: -3%;
  text-align: center;
  opacity: .97;
  border-radius: 10px;
  z-index: 3;
}

.banner > h1 {
  font-size: 42px;
  letter-spacing: 7px;
  color: #fff;
  padding-top: 4px;
}

.banner > p {
  font-size: 18px;
  margin: auto 2px;
  color: #f9f9f9;
  padding-bottom: 10px;
}

.signin {
}

.signin > ul {
  padding: 5px 0;
  margin: 20px auto;
  display: block;
  width: 50%;
  border-left: 2px solid #555;
  border-right: 2px solid #555;
}

.signin > ul > li {
  float: left;
  margin: 5px auto;
  padding: 0 7px;
  font-size: 34px;
  cursor: pointer;
  border-left: 1px solid #888;
}

.signin > ul > li:hover{
  font-weight: bold;
}

.signin > ul > li:first-child{
  border-left: none;
}

form.sign-in:hover{
  font-weight: normal;
}

#user_profile_pic {
  font-size: 14px;
}

.forms > form {
  font-size: 18px;
  margin:10px auto;
  width: 600px;
  position:relative;
  line-height: 26px;
  font-weight: bold;
  color: #5F84CB;
  text-decoration: none;
  border-radius: 10px;
  padding:10px;
  border: 1px solid #999;
  border: inset 1px solid #333;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.3);
}

.forms > form > input {
  width:375px;
  display:block;
  border: 1px solid #999;
  height: 25px;
  font-size: 18px;
}

.forms > form > input:focus {
  outline: none;
  border: 2px solid #5F84CB;
}

.forms > form > input[type=submit] {
  width:100px;
  position:absolute;
  right:20px;
  bottom:20px;
  background:#5F84CB;
  color:#fff;
  height:30px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  border: 1p solid #999;
  font-size: 14px;
}

.forms > form > input[type=submit]:hover {
  background: #fff;
  color: #5F84CB;
}
